app = "BudgetFlow"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    method = "get"
    path = "/"

[env]
  ASPNETCORE_URLS = "http://0.0.0.0:8080"
  ASPNETCORE_ENVIRONMENT = "Production"
